$base-background: #e9ebee;
$headers-color: #247ba0;

h1, h2, h3, h4, h5, h6, .fas {
    color: $headers-color;
}

#navbarSupportedContent {
    text-align: center;
}
.navbar {
    -webkit-box-shadow: 0 10px 6px -6px #247ba0;
    -moz-box-shadow: 0 10px 6px -6px #247ba0;
    box-shadow: 0 10px 6px -6px #247ba0;
}
footer {
    -webkit-box-shadow: 0 -10px 6px -6px #247ba0;
    -moz-box-shadow: 0 -10px 6px -6px #247ba0;
    box-shadow: 0 -10px 6px -6px #247ba0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler {
    //background: #F8FAFC; /* pick your color */
}

#app {
    min-height: calc(100vh - 55px);
}

main {
    max-width: 960px;
    margin: 0 auto;;
}

#messages {
    min-height: 50px;
}

.required {
    color: red;
    font-size: 1.2em;
}

/*Smaller table rows and buttons*/
.row-sm td {
    height: 20px;
    padding: 0;
    border-top: 0;
}

.btn-sm {
    margin: 3px;
    padding: 3px 12px;
}

/*End of*/

@media only screen and (max-width: 1452px) {
    main {
        margin-left: 250px;
    }
}

@media only screen and (max-width: 755px) {
    main {
        margin: 0 auto;
    }
}

@media print {
    #sidebar, .custom-print-button {
        display: none !important;
    }
    .custom-print-area {
        display: block;
    }
}
